body {
    font-family: 'Acme', 'Raleway', sans-serif;
    font-size: 16px;
    background-image: url(images/grey.jpg);
    background-repeat: repeat;
}

.header {
    width: 100%;
    float: left;
}

.header-elem {
    display: inline-block;
    margin: 15px;
}

.nav {
    position: relative;
    left: 0;
}

.nav li {
    padding: 10px;
    display: block;
}

.nav li a{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px;
    line-height: 10px;  
}

/* Change this
*/
.nav li a:link {color:#000000;}      
.nav li a:visited {color:#000000;}  
.nav li a:hover {color:#6757B3;}  
.nav li a:active {color:#998E7A;}

.title {
    width: 250px;
    background-color: #576574;
    opacity: .8;
    margin-left: 10px;
    padding: 20px;
    position: relative;
    top: -50px;
}

.title a {
    font-family: 'Acme', sans-serif;
    font-size: 42px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.title a:link {color:#000000;}      
.title a:visited {color:#000000;}  
.title a:hover {color:#000000;}  
.title a:active {color:#000000;}

.title:hover {background-color:#222f3e;} 

.cards {
    text-align: center;
}

.cards li {
    display: inline;
    padding: 32px;
}

.cards li a {
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
}

.card img {
    position: absolute;
    opacity: .6;
    transform-origin: center 400px; 
    transition:transform 1s;
    border: 1px solid black;
    border-radius: 5%;
}

.cards .card:nth-child(1) img {
    transform: rotate(-10deg);
    -moz-transform: -moz-rotate(-10deg);  
    -webkit-transform: -webkit-rotate(-10deg);  
}

.cards .card:nth-child(2) img {
    transform: rotate(-5deg); 
    -moz-transform: -moz-rotate(-5deg);  
    -webkit-transform: -webkit-rotate(-5deg);  
}

.cards .card:nth-child(3) img {
    transform: rotate(5deg); 
    -moz-transform: -moz-rotate(5deg);  
    -webkit-transform: -webkit-rotate(5deg);  
}

.cards .card:nth-child(4) img {
    transform: rotate(10deg); 
    -moz-transform: -moz-rotate(10deg);  
    -webkit-transform: -webkit-rotate(10deg);  
}

.cards .card:nth-child(1):hover img {
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    opacity: 1;
}

.cards .card:nth-child(2):hover img {
    transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    opacity: 1;
}

.cards .card:nth-child(3):hover img {
    transform: rotate(-3deg); 
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    opacity: 1;
}

.cards .card:nth-child(4):hover img {
    transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    opacity: 1;
}

.headercard {
    position: absolute;
    right: 0;
}

.about {
    float: left;
    padding: 20px;
    margin: 10px;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

p {
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}

/* Timeline */

section {
    height: 600px;
}

.timeline {
    width: 60%;
    position: absolute;
    perspective: 5000px;
    top: 60%;
    left: 23%;
}

.timeline:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    background-color: rgba(213, 223, 229, 1);
    border-radius: 15px;
    top: 76px;
}

.timeline .timeline-item {
    text-align: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin: 0 20px;
}

.timeline .timeline-item:hover:after {
    transform: scale(1.5, 1.5);
}

.timeline .timeline-item.selected:after {
    background-color: rgba(28, 119, 195, 1);
    border: 5px solid rgba(86, 203, 249, 1);
    transform: scale(1.5, 1.5);
}

.timeline .timeline-item:after {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 69px;
    left: 50%;
    background-color: rgba(245, 239, 237, 1);
    border: 5px solid rgba(213, 223, 229, 1);
    content: "";
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.timeline .timeline-item .timeline-content {
    position: absolute;
    display: none;
    width: 350px;
    left: -80px;
    top: -300px;
    cursor: auto;
}

.timeline .timeline-item .timeline-content.fadeIn {
    animation-delay: 0.1s;
}

.timeline .timeline-item .timeline-content.animated {
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.flex-items-default {
    width: 224px;
    height: 150px;
}

.dropdown {
    width: 400px;
    height: 326px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: -310px;
    animation-duration: 0.2s;
    transition: left 0.3s ease;
}

.dropdown .inner {
    position: relative;
    width: 100%;
    height: 326px;
}

.dropdown .inner .arrow-down {
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: 15px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(255, 255, 255, 1);
}

.animated {
    display: block;
}


@media screen and (min-width:0px) and (max-width:320px){
    .title {
        margin-top: 30px;
        margin-left: 1px;
        margin-right: 0px;
        padding: 5px;
	    width: 250px;
    }

    .nav{
	    float: left;
    }
    
    
    .title a {
        font-family: 'Acme', sans-serif;
        font-size: 32px;
        text-decoration: none;
    }

	.headercard {
	    display: none;
    }
    
    .cards {
        position: absolute;
        text-align: center;
        top: 35%;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    .cards img {
	    display: none;
    }

}

@media screen and (min-width:320px) and (max-width:768px){
	.header{
	    width: 100%;
	}
	
	.nav{
	    float: left;
	}
	
	.title {
        width: 200px;
    }
    
    .title a {
        font-family: 'Acme', sans-serif;
        font-size: 32px;
        text-decoration: none;
    }

    .cards {
        position: absolute;
        text-align: center;
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
	
	.cards img {
	    display: none;
    }
    
    .headercard {
	    display: none;
	}
}


@media screen and (min-width:768px) and (max-width:960px){
	.header{
	    float: left;
	    width: 100%;
	}
	
	.nav{
	    float: left;
    }
    
	.title {  
	    padding: 20px;
	    width: 250px;
	    background-color: #576574;
	    opacity: .75;
	    margin-top: 35px;
	    margin-bottom: 35px;
	    margin-left: 20px;
	    margin-right: 20px;
	    
	}
	
	.title a{
	    font-family: 'Acme', sans-serif;
	    font-size: 32px;
	    text-decoration: none;
	    padding: 10px;
	    text-align: center;
	}
	
	.cards li {
	    display: inline;
	    padding: 32px;
    }   

    .headercard {
	    width: 166px; 
	    height: 230px;
	    padding: 20px;
	    margin: 0px;
	    float: left;
	}
}

@media screen and (min-width:960px) and (max-width:1500px) {
	.header{
	    width:100%;
	}
	
	.title {
	    width: 250px;
        float: left;
        background-color: #576574;
        opacity: .75;
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 20px;
        padding: 20px;
	}
	
	.title a{
        font-family: 'Acme', sans-serif;
        font-size: 32px;
        text-align: center;
        text-decoration: none;
        padding: 10px;
	}
	
	.cards li a {
        font-size: 32px;
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        list-style-type: none;
        width: 100%;
    }
	
	.cards li {
	    display: inline;
	    padding: 32px;
	}
	
	.cards ul {
	    list-style-type: none;
	    width: 100%;
	    float: left;
    }
    
    .headercard {
	    width: 166px; 
	    height: 230px;
	    padding: 20px;
	    margin: 0px;
	    float: left;
	}
	
}