html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

body {
    font-family: 'Acme', 'Raleway', sans-serif;
    font-size: 16px;
    background-image: url(images/grey.jpg);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    "name card-box nav"
    ". . .";
}

.name {
  grid-area: name;
  margin: auto;
}
.home-img { grid-area: home-img; }
.about-img { grid-area: about-img; }
.resume-img { grid-area: resume-img; }

.nav {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  list-style-type: none;
  grid-area: nav;
}

.nav li {
  display: flex;
}

.nav a:hover img {
  opacity: .5;
}

.card-box {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "cards"
    "."; 
  grid-area: card-box; 
}

.cards {
  grid-area: cards;
}

.cards li {
    display: inline;
    padding: 32px;
}

.cards li a {
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
}

.card img {
    position: absolute;
    opacity: .6;
    transform-origin: center 400px; 
    transition:transform 1s;
    border: 1px solid black;
    border-radius: 5%;
}

.cards .card:nth-child(1) img {
    transform: rotate(-10deg);
    -moz-transform: -moz-rotate(-10deg);  
    -webkit-transform: -webkit-rotate(-10deg);  
}

.cards .card:nth-child(2) img {
    transform: rotate(-5deg); 
    -moz-transform: -moz-rotate(-5deg);  
    -webkit-transform: -webkit-rotate(-5deg);  
}

.cards .card:nth-child(3) img {
    transform: rotate(5deg); 
    -moz-transform: -moz-rotate(5deg);  
    -webkit-transform: -webkit-rotate(5deg);  
}

.cards .card:nth-child(4) img {
    transform: rotate(10deg); 
    -moz-transform: -moz-rotate(10deg);  
    -webkit-transform: -webkit-rotate(10deg);  
}

.about-container {
    display: grid;
    gap: 0px 0px;
}

.about-paragraph {
    grid-area: about-paragraph;
    text-align: right;
    margin: auto;
}

.about-title {
    font-size: large;
    font-weight: bold;
}

.social-icon {
    width: 32px;
    height: 32px;
}

.about-paragraph a {
    text-decoration: none;
}

.about-paragraph a:hover img {
    opacity: .5;
  }

@media screen and (min-width: 1440px) {
    /* Your styles for desktop screens */
    p {
        word-spacing: 5px;
        letter-spacing: 2px;
        font-family: 'Raleway', sans-serif;
    }

    .container {
        grid-template-columns: 0.85fr 1.3fr 0.85fr; 
        grid-template-rows: 0.5fr 2fr 0.5fr;
        grid-template-areas: 
          ". . ."
          "name card-box nav"
          ". . .";
      }

    .cards .card:nth-child(1):hover img {
        transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        opacity: 1;
    }
    
    .cards .card:nth-child(2):hover img {
        transform: rotate(-10deg); 
        -moz-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        opacity: 1;
    }
    
    .cards .card:nth-child(3):hover img {
        transform: rotate(-3deg); 
        -moz-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        opacity: 1;
    }
    
    .cards .card:nth-child(4):hover img {
        transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        opacity: 1;
    }

    .about-container {
      grid-template-columns: 0.85fr 1.3fr 0.85fr;
      grid-template-rows: 0.5fr 2fr 0.5fr;
      grid-template-areas: 
        ". . ."
        "name about-paragraph nav"
        ". . .";
    }
}

@media screen and (max-width: 1430px) {
  .container {
    grid-template-columns: 0.5fr 2fr 0.5fr; 
  }

  .about-container {
    grid-template-columns: 0.85fr 1.3fr 0.85fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: 
      ". . ."
      "name about-paragraph nav"
      ". . .";
  }
}

@media screen and (max-width: 1320px) {
  /* Your styles for tablets in portrait mode */
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 0.4fr;
    grid-template-areas: 
      ". . "
      "name nav";
  }

  .card-box {
    display: none;
  }
}


@media screen and (max-width: 1100px) {
  .about-container {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      ". name ."
      ". about-paragraph ."
      ". nav .";
  }

  .about-paragraph {
    margin: 0;
  }

  body {
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
    /* Your styles for mobile devices in landscape mode */
    .container {
        grid-template-rows: 0.8fr 0.2fr;
    }

    .about-container {
      grid-template-columns: 1fr; 
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
        "name"
        "about-paragraph"
        "nav";
    }

    .about-paragraph {
      margin: 5%;
    }
}

@media screen and (max-width: 720px) {
    /* Your styles for mobile devices in portrait mode */
    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
        grid-template-areas: 
          "name"
          "nav";
      }
}
